@page
@model WeMarket.ServiceHost.Areas.Admin.Pages.ProductsManagement.Products.CreateModel
@{
    Layout = "Shared/_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ایجاد محصول جدید</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Name" class="control-label">نام</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.Name" onchange="makeSlug('Name', 'Slug')">
                                <span asp-validation-for="@Model.Command.Name" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Picture" class="control-label">عکس</label>
                                <input type="file" class="form-control" asp-for="@Model.Command.Picture" accept="image/*">
                                <span asp-validation-for="@Model.Command.Picture" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.CategoryId">گروه محصول</label>
                                <select class="form-control" asp-for="@Model.Command.CategoryId" asp-items="Model.Category">
                                    <option value="0">گروه محصولات ...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Keywords" class="control-label">کلمات کلیدی</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.Keywords">
                                <span asp-validation-for="@Model.Command.Keywords" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.PictureAlt" class="control-label">Alt</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.PictureAlt">
                                <span asp-validation-for="@Model.Command.PictureAlt" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.PictureTitle" class="control-label">عنوان</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.PictureTitle">
                                <span asp-validation-for="@Model.Command.PictureTitle" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.ShortDescription" class="control-label">توضیحات کوتاه</label>
                                <textarea class="form-control autogrow" asp-for="@Model.Command.ShortDescription" onchange="fillField('ShortDescription', 'MetaDescription')"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.ShortDescription" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.Description" class="control-label">توضیحات</label>
                                <textarea class="form-control" id="BodyContent" asp-for="@Model.Command.Description"></textarea>
                                <span asp-validation-for="@Model.Command.Description" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.MetaDescription" class="control-label">توضیحات متا</label>
                                <textarea class="form-control autogrow" asp-for="@Model.Command.MetaDescription"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.MetaDescription" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.Command.FileProduct" class="control-label">فایل محصول</label>
                                <input type="file" class="form-control" asp-for="@Model.Command.FileProduct" >
                                <span asp-validation-for="@Model.Command.FileProduct" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-b-5">ایجاد</button>
                    <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>
